In [2]:
import quandl

In [3]:
appl = quandl.get("WIKI/APL", start_date="2012-01-01", end_date="2019-01-01")

In [4]:
type(appl)

pandas.core.frame.DataFrame

In [5]:
appl_numpy_array = quandl.get("WIKI/APL", start_date="2012-01-01", end_date="2019-01-01", returns="numpy")

In [6]:
type(appl_numpy_array)

numpy.recarray

In [7]:
appl.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-01-03,37.40,38.51,37.2400,38.46,732200.0,0.0,1.0,29.677623,30.558430,29.550660,30.518754,732200.0
2012-01-04,38.45,39.00,38.4500,38.97,666300.0,0.0,1.0,30.510818,30.947254,30.510818,30.923448,666300.0
2012-01-05,38.91,39.29,38.8729,39.12,339000.0,0.0,1.0,30.875837,31.177375,30.846398,31.042476,339000.0
2012-01-06,39.22,39.31,38.3100,38.46,380600.0,0.0,1.0,31.121828,31.193245,30.399726,30.518754,380600.0
2012-01-09,40.89,40.89,37.8501,38.10,259300.0,0.0,1.0,32.447006,32.447006,30.034786,30.233087,259300.0

In [8]:
appl.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2015-02-23,27.21,27.4400,26.640,27.35,3881194.0,0.0,1.0,27.21,27.4400,26.640,27.35,3881194.0
2015-02-24,27.31,27.6500,27.055,27.29,509065.0,0.0,1.0,27.31,27.6500,27.055,27.29,509065.0
2015-02-25,27.13,27.6400,27.070,27.45,552061.0,0.0,1.0,27.13,27.6400,27.070,27.45,552061.0
2015-02-26,27.41,27.5599,26.720,27.08,542364.0,0.0,1.0,27.41,27.5599,26.720,27.08,542364.0
2015-02-27,26.85,27.1600,26.520,26.63,1599515.0,0.0,1.0,26.85,27.1600,26.520,26.63,1599515.0

In [9]:
fb=quandl.get("WIKI/APL", start_date="2012-01-01", end_date="2013-01-01", collapse="monthly")

In [10]:
fb.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-01-31,37.70,37.800,37.37,37.51,242300.0,0.0,1.0,29.915679,29.995031,29.653818,29.764910,242300.0
2012-02-29,37.08,37.090,36.58,36.95,421500.0,0.0,1.0,29.860250,29.868303,29.457604,29.755562,421500.0
2012-03-31,35.50,35.750,35.01,35.38,228000.0,0.0,1.0,28.587888,28.789211,28.193295,28.491253,228000.0
2012-04-30,34.95,35.158,34.92,34.96,289000.0,0.0,1.0,28.144977,28.312478,28.120818,28.153030,289000.0
2012-05-31,30.64,30.780,29.26,30.00,494500.0,0.0,1.0,25.077833,25.192419,23.948349,24.554014,494500.0

In [11]:
fb.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-08-31,34.72,34.74,34.2800,34.74,111200.0,0.0,1.0,28.903685,28.920335,28.537394,28.920335,111200.0
2012-09-30,33.80,34.17,33.4300,34.10,359200.0,0.0,1.0,28.137804,28.445822,27.829787,28.387548,359200.0
2012-10-31,35.44,36.00,35.0000,35.38,138100.0,0.0,1.0,29.503071,29.969259,29.136780,29.453122,138100.0
2012-11-30,34.21,34.21,32.7601,32.99,395200.0,0.0,1.0,28.950192,28.950192,27.723215,27.917767,395200.0
2012-12-31,31.03,31.66,30.8909,31.57,416800.0,0.0,1.0,26.259119,26.792256,26.141405,26.716093,416800.0